
<div *ngIf='company'>
	<form class="panel panel-default" [formGroup]="companyForm" (ngSubmit)="onSubmit(company)">
		<div class="panel-heading" color="primary">Cég</div>
		<div  class="panel-body" >
			<div class="inputfield">	
				<mat-form-field class="matffield">
				    <input matInput [(ngModel)]="company.name" formControlName="companyName" placeholder="Név*">
			  	</mat-form-field>
			  	<mat-error *ngIf="!companyForm.controls['companyName'].valid && companyForm.controls['companyName'].touched">
			      Ne hagyja üresen a név mezőt!
			    </mat-error>
			</div>
			<div class="btn_primary">
				<button type="submit" mat-raised-button color="primary">Mentés</button>
			</div>
		</div>
	</form>
</div>
<!--<form class="panel panel-default" *ngIf="company">
	<div class="panel-heading" color="primary">Cég</div>
	<div  class="panel-body" >
		<div class="inputpanel">
			<div class="inputfield">	
				<mat-form-field class="matffield">
				    <input matInput [(ngModel)]="company.name" name="companyName" placeholder="Név">
			  	</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.phone" name="companyPhone" placeholder="Telefonszám">
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.email" name="companyEmail" placeholder="E-mail cím">
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.website" name="companyWebsite" placeholder="Weboldal">
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.facebook" name="companyFacebook" placeholder="Facebook">
				</mat-form-field>
			</div>
			<div class="hr_style">
				<hr>
			</div>
			<div class="address">
				<h4>Székhely adatok</h4>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<mat-select name="companyHqcountry" placeholder="Ország"
					[ngModel]="company.country_code" (ngModelChange)="company.country_code = onChangeHqcountry($event)">
						<mat-option *ngFor="let country of companiesDataHandler.countries" [value]="country.code">
							{{country.country}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.hq_zipcode" name="companyHqzipcode" placeholder="Irányítószám">
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.hq_settlement" name="companyHqsettlement" placeholder="Település">
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.hq_address" name="companyHqaddress" placeholder="Cím">
				</mat-form-field>
			</div>
			<div *ngIf="!edit">
				<div class="inputfield">
					<mat-checkbox [checked]="billing" (change)="billing = !billing" color="primary">
						A számlázási adatok azonosak
					</mat-checkbox>
				</div>
				<div class="inputfield">
					<mat-checkbox [checked]="mail" (change)="mail = !mail" color="primary">
						A levelezési adatok azonosak
					</mat-checkbox>
				</div>
			</div>
			<div class="hr_style">
				<hr>
			</div>
			<div class="address">
				<h4>Számlázási adatok</h4>
			</div>
			<div *ngIf="!billing">
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.bi_name" name="companyBiname" placeholder="Számlázási név">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<mat-select name="companyBicountry" placeholder="Ország"
						[ngModel]="company.country_code" (ngModelChange)="company.bi_country = onChange($event)">
							<mat-option *ngFor="let country of companiesDataHandler.countries" [value]="country.code">
								{{country.country}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.bi_zipcode" name="companyBizipcode" placeholder="Irányítószám">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.bi_settlement" name="companyBisettlement" placeholder="Település">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.bi_address" name="companyBiaddress" placeholder="Cím">
					</mat-form-field>
				</div>
			</div>
			<div *ngIf="billing">
				{{billing_datas(company)}}
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.taxnumber" name="companyTaxnumber" placeholder="Adószám">
				</mat-form-field>
			</div>
			<div class="hr_style">
				<hr>
			</div>
			<div *ngIf="!mail">
				<div class="address">
					<h4>Levelezési adatok</h4>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.mail_name" name="companyMailname" placeholder="Levelezési név">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<mat-select name="companyMailcountry" placeholder="Ország"
						[ngModel]="company.country_code" (ngModelChange)="company.mail_country = onChange($event)">
							<mat-option *ngFor="let country of companiesDataHandler.countries" [value]="country.code">
								{{country.country}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.mail_zipcode" name="companyMailzipcode" placeholder="Irányítószám">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.mail_settlement" name="companyMailsettlement" placeholder="Település">
					</mat-form-field>
				</div>
				<div class="inputfield">
					<mat-form-field class="matffield">
						<input matInput [(ngModel)]="company.mail_address" name="companyMailaddress" placeholder="Cím">
					</mat-form-field>
				</div>
				<div class="hr_style">
					<hr>
				</div>
			</div>
			<div *ngIf="mail">
				{{mail_datas(company)}}
			</div>
			<div class="address">
				<h4>Statisztikai adatok</h4>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<mat-select name="companyIndustry_id" placeholder="Iparág"
					[ngModel]="company.industry_id" (ngModelChange)="company.industry_id = onChange($event)">
						<mat-option *ngFor="let industry of companiesDataHandler.industries" [value]="industry.id">
							{{industry.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<mat-select name="companyEmployeesnum_id" placeholder="Alkalmazottak száma"
					[ngModel]="company.employeesnum_id" (ngModelChange)="company.employeesnum_id = onChange($event)">
						<mat-option *ngFor="let employeesnum of companiesDataHandler.employeesnums" [value]="employeesnum.id">
							{{employeesnum.number}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<mat-select name="companyYearlyincome_id" placeholder="Éves bevétel"
					[ngModel]="company.yearlyincome_id" (ngModelChange)="company.yearlyincome_id = onChange($event)">
						<mat-option *ngFor="let yearlyincome of companiesDataHandler.yearlyincomes" [value]="yearlyincome.id">
							{{yearlyincome.amount}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput [(ngModel)]="company.founded" name="companyFounded" placeholder="Alapítva">
				</mat-form-field>
			</div>
		</div>
		<div class="btn_primary">
			<button mat-raised-button color="primary" (click)="edit? save() : add(company)">Mentés</button>
		</div>
		<div class="btn_primary">
			<button mat-raised-button href="company/list" (click)="goBack()">Mégse</button>
		</div>
	</div>
</form>-->