<div *ngIf="tasksDataHandler.isLoading">
	<mat-spinner></mat-spinner>
</div>
<form class="panel panel-default" *ngIf="!tasksDataHandler.isLoading">
	<div class="panel-heading" color="primary">Fealadatok listája</div>
	<div  class="panel-body" *ngIf="tasksDataHandler.tasks">
		<section >
			<table class="table">
				<thead>
					<tr>
						<td></td>
						<th>ID</th>
						<th>Név</th>
					</tr>
				</thead>
				<tbody class="clickable-tbody" *ngFor="let task of tasksDataHandler.tasks" (click)="gotoDetail(task)">
					<tr>
						<td (click)="$event.stopPropagation();">
							  <mat-checkbox color="primary" value={{task.id}} (change)="showChbox();task.selected= !task.selected"></mat-checkbox>
							  <!--<input type="checkbox" value={{company.id}} (change)="showChbox()">-->
						</td>
						<td>{{task.id}}</td>
						<td>{{task.name}}</td>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"  class="newcompany_btn">
							<button  type="button" mat-raised-button color="primary" tabindex="0" (click)="gotoNew()">
								<i class="fa fa-plus"></i> Új feladat hozzáadása
							</button>
						</td>
						<td class="instant_company">	
							<div class="instant_input">
							<mat-form-field>
							    <input #taskName matInput name="taskName" placeholder="Új feladat hozzáadása instant">
						  	</mat-form-field>
						  	<button #addInstantButton type="submit"  mat-raised-button color="primary" tabindex="-1" (click)="addInstant(taskName.value); taskName.value='';">
								<i class="fa fa-plus"></i>
							</button>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</section>
	</div>
	<div  class="panel-body" *ngIf="!tasksDataHandler.tasks">
		<div class="nodata_alert">
			<h1>Nincs megadva egyetlen cég sem</h1>
			<p>A munka megkezdése előtt ajánlott felvinned legalább egy céget, amihez a rendszer társítani tudja majd a feladatokat, névjegyeket és a többi információt.<br>
			Nem kötelező, de ajánlott.</p>
			<button mat-raised-button color="primary" (click)="gotoNew()">
				<i class="fa fa-plus"></i> Új cég hozzáadása
			</button>
		</div>
	</div>
</form>
<div *ngIf=checked class="botton_right">
	<button mat-fab [matMenuTriggerFor]="menu" color="primary">
  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="fa fa-industry"></mat-icon>
			<span>Új cég</span>
		</button>
		<button mat-menu-item (click)="createNewProject()">
			<mat-icon class="fa fa-folder"></mat-icon>
			<span>Új projekt</span>
		</button>
		<button mat-menu-item (click)="createNewContact()">
			<mat-icon class="fa fa-user-plus"></mat-icon>
			<span>Új felhasználó</span>
		</button>
		<button mat-menu-item [disabled]="disabled" (click)="gotoEdit()">
			<mat-icon class="fa fa-pencil"></mat-icon>
			<span>Szerkesztés</span>
		</button>
		<button mat-menu-item (click)="clickOnDeleteProductButton(tasksDataHandler.tasks)">
			<mat-icon class="fa fa-trash"></mat-icon>
			<span>Törlés</span>
		</button>
	</mat-menu>
</div>