<div *ngIf="isLoading">
	<mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
<form *ngIf="contact" class="panel panel-default">
	<div class="panel-heading" color="primary">{{contact.full_name}}</div>
	<div  class="panel-body">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Név</th>
						<th>Telefon</th>
						<th>E-mail</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<strong class="company_name">{{contact.full_name}}</strong>
						</td>
						<td>
							{{contact.phone}}
						</td>
						<td>
							{{contact.email}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div>
		<div id="wide">
			<div>
				<h3>Feladatok</h3>
			</div>
		</div>
		<div id="narrow">
			<div>
				<h3>Cégek</h3>
				<p *ngFor="let company of companies">
					{{company.name}}
				</p>
			</div>
			<hr>
			<div>
				<h3>Projektek</h3>
				<p *ngFor="let company of companies">
					<span *ngFor="let project of company.project">{{project}}</span>
				</p>
			</div>
		</div>
		</div>
	</div>
	<div class="botton_right">
		<button mat-fab [matMenuTriggerFor]="menu" color="primary">
	  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon class="fa fa-file"></mat-icon>
				<span>Új feladat</span>
			</button>
			<button mat-menu-item>
				<mat-icon class="fa fa-folder"></mat-icon>
				<span>Új projekt</span>
			</button>
			<button mat-menu-item>
				<mat-icon class="fa fa-user-plus"></mat-icon>
				<span>Új felhasználó</span>
			</button>
			<button mat-menu-item (click)="gotoEdit()">
				<mat-icon class="fa fa-pencil"></mat-icon>
				<span>Szerkesztés</span>
			</button>
			<button mat-menu-item (click)="openDeleteDialog()">
				<mat-icon class="fa fa-trash"></mat-icon>
				<span>Törlés</span>
			</button>
		</mat-menu>
	</div>
</form>
<div id="back">
	<button mat-raised-button color="primary" (click)="goBack()">Vissza</button>
</div>
</div>