<div *ngIf="isLoading < 5">
	<mat-spinner></mat-spinner>
</div>
<div *ngIf="isLoading >= 5">
<form *ngIf="project" class="panel panel-default">
	<div class="panel-heading" color="primary">{{project.name}}</div>
	<div  class="panel-body">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Név</th>
						<th>Határidő</th>
						<th>Bevétel</th>
						<th>Kiadás</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">
							<strong class="company_name">{{project.name}}</strong>
						</td>
						<td>
							<strong class="company_name">{{project.greater}}</strong>
						</td>
						<td rowspan="2">
							{{project.income}}
						</td>
						<td rowspan="2">
							{{project.expenditure}}
						</td>
					</tr>
					<tr>
						<td class="collapsed">
							{{project.deadline | date:'yyyy-MM-dd HH:mm'}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div>
		<div id="wide">
			<div>
				<h3>Feladatok</h3>
			</div>
		</div>
		<div id="narrow">
			<div>
				<h3>Cégek</h3>
				<p *ngFor="let company of companies">
					{{company.name}}
				</p>
			</div>
			<hr>
			<div>
				<h3 class="contact">Névjegyek</h3>
				<h4 *ngIf="accountables.length > 0">Felelős(ök):</h4>
				<ul *ngFor="let accountable of accountables">
					<li>{{accountable}}</li>
				</ul>
				<h4 *ngIf="owners.length > 0">Tulajdonos(ok):</h4>
				<ul *ngFor="let owner of owners">
					<li>{{owner}}</li>
				</ul>
				<h4 *ngIf="observers.length > 0">Megfigyelő(k):</h4>
				<ul *ngFor="let observer of observers">
					<li>{{observer}}</li>
				</ul>
				<h4 *ngIf="participants.length > 0">Résztvevő(k):</h4>
				<ul *ngFor="let participant of participants">
					<li>{{participant}}</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	<div class="botton_right">
		<button mat-fab [matMenuTriggerFor]="menu" color="primary">
	  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon class="fa fa-file"></mat-icon>
				<span>Új feladat</span>
			</button>
			<button mat-menu-item>
				<mat-icon class="fa fa-folder"></mat-icon>
				<span>Új projekt</span>
			</button>
			<button mat-menu-item>
				<mat-icon class="fa fa-user-plus"></mat-icon>
				<span>Új felhasználó</span>
			</button>
			<button mat-menu-item (click)="gotoEdit()">
				<mat-icon class="fa fa-pencil"></mat-icon>
				<span>Szerkesztés</span>
			</button>
			<button mat-menu-item (click)="openDeleteDialog()">
				<mat-icon class="fa fa-trash"></mat-icon>
				<span>Törlés</span>
			</button>
		</mat-menu>
	</div>
</form>
<div id="back">
	<button mat-raised-button color="primary" (click)="goBack()">Vissza</button>
</div>
</div>