<form class="panel panel-default">
	<div class="panel-heading" color="primary">Cégek listája</div>
	<div  class="panel-body">
		<section >
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Cég</th>
						<th>Telefon</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody *ngFor="let company of companies">
					<tr>
						<td rowspan="2">
							  <mat-checkbox color="primary" value={{company.id}} (change)="showChbox()" (click)="company.selected=true"></mat-checkbox>
							  <!--<input type="checkbox" value={{company.id}} (change)="showChbox()">-->
						</td>
						<td rowspan="2" *ngIf="company.logo!=''">
							<button mat-fab color="primary" (click)="gotoDetail(company)">
								<img src={{company.logo}} class="logo" alt="logo">
							</button>
						</td>
						<td rowspan="2" *ngIf="company.logo==''">
							<button mat-fab color="primary" (click)="gotoDetail(company)">
								{{company.name.slice(0,1)}}
							</button>
						</td>
						<td>
							<strong class="company_name">{{company.name}}</strong>
						</td>
						<td rowspan="2">{{company.phone}}</td>
						<td rowspan="2">{{company.email}}</td>
					</tr>
					<tr>
						<td class="collapsed">
							<span class="company_headquarter">
								{{company.country_code}}-{{company.hq_zipcode}} {{company.hq_settlement}}, 
								{{company.hq_address}}
							</span>
						</td>
					</tr>

				</tbody>
			</table>
		</section>
	</div>
</form>
<div *ngIf=checked class="botton_right">
	<button mat-fab [matMenuTriggerFor]="menu" color="primary">
  		<mat-icon class="fa fa-plus fa-lg" aria-hidden="true"></mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="fa fa-file"></mat-icon>
			<span>Új feladat</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="fa fa-folder"></mat-icon>
			<span>Új projekt</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="fa fa-user-plus"></mat-icon>
			<span>Új felhasználó</span>
		</button>
		<button mat-menu-item [disabled]="disabled" (click)="gotoEdit()">
			<mat-icon class="fa fa-pencil"></mat-icon>
			<span>Szerkesztés</span>
		</button>
		<button mat-menu-item (click)="openDeleteDialog()">
			<mat-icon class="fa fa-trash"></mat-icon>
			<span>Törlés</span>
		</button>
	</mat-menu>
</div>