<form class="panel panel-default">
	<div class="panel-heading" color="primary">Bejelentkezés</div>
	<div  class="panel-body">
		<div class="inputpanel">
			<div class="inputfield">	
				<mat-form-field class="matffield">
				    <input matInput placeholder="E-mail cím" [formControl]="emailFormControl">
				    <mat-error *ngIf="emailFormControl.hasError('pattern')">
				      Kérjük adjnon meg valós e-mail címet!
				    </mat-error>
				    <mat-error *ngIf="emailFormControl.hasError('required')">
				      Email megadása <strong>kötelező</strong>
		    		</mat-error>
			  	</mat-form-field>
			</div>
			<div class="inputfield">
				<mat-form-field class="matffield">
					<input matInput placeholder="Írja be jelszavát" [type]="hide ? 'password' : 'text'" [formControl]="passwordFromControl">
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				    <mat-error *ngIf="passwordFromControl.hasError('required')">
				      Jelszó megadása <strong>kötelező</strong>
		    		</mat-error>
				</mat-form-field>
			</div>
		</div>
		<mat-checkbox class="cb_staylogin" color="primary">Bejelentkezve marad</mat-checkbox>
		<div class="forgotten_pass">
			<a href="password/reset">Elfelejtetted a jelszavad?</a>
		</div>
		<div class="btn_primary">
			<button mat-raised-button color="primary">Bejelentkezés</button>
		</div>
	</div>
</form>
