<form class="panel panel-default">
	<div class="panel-heading" color="primary">Projektek</div>
	<div  class="panel-body" *ngIf="projects && projects.length > 0">
		<section >
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Név</th>
						<th>Határidő</th>
						<th>Bevétel</th>
						<th>Kiadás</th>
					</tr>
				</thead>
				<tbody (click)="gotoDetail(project)" class="clickable-tbody" *ngFor="let project of projects">
					<tr>
						<td rowspan="2" (click)="$event.stopPropagation();">
							  <mat-checkbox color="primary" value={{project.id}} (change)="showChbox();project.selected= !project.selected"></mat-checkbox>
							  <!--<input type="checkbox" value={{company.id}} (change)="showChbox()">-->
						</td>
						<td rowspan="2">
							<strong class="company_name">{{project.name}}</strong>
						</td>
						<td>
							<strong class="company_name">{{count(project)}} <span *ngIf="!project.greater"><mat-icon class="fa fa-exclamation-triangle"></mat-icon></span></strong>
						</td>
						<td rowspan="2">
							{{project.income}}
						</td>
						<td rowspan="2">
							{{project.expenditure}}
						</td>
					</tr>
					<tr>
						<td class="collapsed">
							{{project.deadline | date:'yyyy-MM-dd HH:mm'}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"  class="newcompany_btn">
							<button  mat-raised-button color="primary" (click)="gotoNew()">
								<i class="fa fa-plus"></i> Új projekt hozzáadása
							</button>
						</td>
						<td class="instant_company">
							<div class="instant_input">
							<mat-form-field>
							    <input #projectName matInput name="projectName" placeholder="Új projekt hozzáadása instant">
						  	</mat-form-field>
						  	<button  mat-raised-button color="primary" (click)="addInstant(projectName.value)">
								<i class="fa fa-plus"></i>
							</button>
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</section>
	</div>
	<div  class="panel-body" *ngIf="!projects || projects.length == 0">
		<div class="nodata_alert">
			<h1>Nincs megadva egyetlen projekt sem</h1>
			<p>Projektek keretében számos extra dolgot tudsz a feladatokkal csinálni, például Gantt-diagramm szerint rendezheted, megjeleníthed. A projektek bevétel és költség oldalról, illetve határidők segítségével is hatékonyabbá teszik a munkavégzést.<br><br>
			Ha egyébként nem projekt alapon dolgozol, akkor a projektek segítségével csoportosíthatod a feladatokat.<br><br>
			A projektekhez hozzárendelheted a résztvevőket különböző szerepkörökben és könnyen, egyszerűen kommunikálhatsz velük a projekt kapcsán. Úgy az ügyfeleiddel, partnereiddel, mint a munkatársaddal.</p>
			<button mat-raised-button color="primary" (click)="gotoNew()">
				<i class="fa fa-plus"></i> Új projekt hozzáadása
			</button>
		</div>
	</div>
</form>
<div *ngIf=checked class="botton_right">
	<button mat-fab [matMenuTriggerFor]="menu" color="primary">
  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="fa fa-check"></mat-icon>
			<span>Kész</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="fa fa-file"></mat-icon>
			<span>Új feladat</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="fa fa-industry"></mat-icon>
			<span>Új cég</span>
		</button>
		<button mat-menu-item>
			<mat-icon class="fa fa-user-plus"></mat-icon>
			<span>Új felhasználó</span>
		</button>
		<button mat-menu-item [disabled]="disabled" (click)="gotoEdit()">
			<mat-icon class="fa fa-pencil"></mat-icon>
			<span>Szerkesztés</span>
		</button>
		<button mat-menu-item (click)="openDeleteDialog()">
			<mat-icon class="fa fa-trash"></mat-icon>
			<span>Törlés</span>
		</button>
	</mat-menu>
</div>