<form class="panel panel-default">
	<div class="panel-heading" color="primary">Jelszó visszaállítás</div>
	<div  class="panel-body">
		<div class="inputpanel">
			<div class="inputfield">	
				<mat-form-field class="matffield">
				    <input matInput placeholder="E-mail cím" [formControl]="emailFormControl">
				    <mat-error *ngIf="emailFormControl.hasError('pattern')">
				      Kérjük adjnon meg valós e-mail címet!
				    </mat-error>
				    <mat-error *ngIf="emailFormControl.hasError('required')">
				      Email megadása <strong>kötelező</strong>
		    		</mat-error>
			  	</mat-form-field>
			</div>
		</div>
		<div class="btn_primary">
			<button mat-raised-button color="primary">Jelszó visszaállítás</button>
		</div>
	</div>
</form>