@import url("./display.component.css");

#narrow {
  float: right;
  width: 35%;
}
#wide {
  float: left;
  width: 65%;
}

#line{
	margin-right: 100px;
}

#back{
	margin-left: 6%;
}

h3.contact{
	margin-bottom: 20px;
}

div.projects p{
	padding-left: 10px;
}