.panel{
	margin: 2% 6%;
}

.panel-body{
	width: 100%
}

td.collapsed{
	border: none;
	padding-top: 0px;
}

.iconbutton{
	cursor: default;
}

.clickable-tbody{
	cursor: pointer;
}

td.newitem_btn{
	padding-top: 50px;
}

.nodata_alert{
	text-align: center;
}

.nodata_alert p{
	padding: 30px 0 100px 0;
	font-size: 20px;
}

td.instant_item{
	padding-top: 43px;
}

.instant_input{
	float: left;
}

mat-spinner{
	float: none;
    margin-left: auto;
	margin-right: auto;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one 🙂       */
  	display: flex;
  	align-items: center;
}

.icon-background2 {
    color: #3F51B5;
    
}

.fa-2x{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#datetime_div{
	width: 60%;
}