mat-spinner{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hr_style{
	margin: 30px -20% 0;
}

.address h4{
	font-weight: bold;
	margin: 0 -15% 30px;
}

.btn_primary{
	float: left;
}