<mat-toolbar color="primary">
    <a mat-list-item class="toolbar_li" routerLink="">Főoldal</a>
    <a mat-list-item class="toolbar_li" routerLink="/company/list" routerLinkActive="active">Cégek</a>
    <a mat-list-item class="toolbar_li" routerLink="/project/list" routerLinkActive="active">Projektek</a>
    <a mat-list-item class="toolbar_li" routerLink="/people/list" routerLinkActive="active">Névjegyek</a>
    <a mat-list-item class="toolbar_li" routerLink="/task/list" routerLinkActive="active">Feladatok</a>
    <span class="example-spacer"></span>
    <a mat-list-item class="toolbar_li" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
    <a mat-list-item class="toolbar_li" routerLink="/register" routerLinkActive="active">Regisztráció</a>
</mat-toolbar>