<mat-spinner *ngIf="companyService.isLoading || !sharedGetDataHandler.projects || !sharedGetDataHandler.contacts"></mat-spinner>
<form *ngIf="!companyService.isLoading && company" class="panel panel-default">
	<div class="panel-heading" color="primary">{{company.name}}</div>
	<div  class="panel-body">
		<div id="wide">
			<div>
				<h3>Projektek</h3>
				<p *ngFor="let project of sharedGetDataHandler.projects">
					<a mat-list-item class="linkTo" routerLink="/project/shown/{{project.id}}" routerLinkActive="active">
						{{project.name}}
					</a>
				</p>
			</div>
			<hr id="line">
			<div>
				<h3>Feladatok</h3>
			</div>
		</div>
		<div id="narrow">
			<div>
				<img *ngIf="company.logo!=''" src={{company.logo}} alt="logo" width="100" height="100">
				<h3>{{company.name}}</h3>
				<p><i class="fa fa-phone"></i> {{company.phone}}</p>
				<p><i class="fa fa-envelope"></i> {{company.email}}</p>
				<p>
					<i class="fa fa-map-marker"></i>
					{{company.hq_country}} {{company.hq_zipcode}} {{company.hq_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span>
					{{company.hq_address}}
				</p>
				<p>
					<i class="fa fa-usd"></i>
					{{company.bi_country}} {{company.bi_zipcode}} {{company.bi_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span> 
					{{company.bi_address}}
				</p>
				<p>
					<i class="fa fa-envelope"></i>
					{{company.mail_country}} {{company.mail_zipcode}} {{company.mail_settlement}}<span *ngIf="(company.hq_country || company.hq_zipcode || company.hq_settlement) || company.hq_address">, </span>
					{{company.mail_address}}
				</p>
			</div>
			<hr>
			<div>
				<h3>Névjegyek</h3>
				<p *ngFor="let contact of sharedGetDataHandler.contacts">
					<a mat-list-item class="linkTo" routerLink="/people/shown/{{contact.id}}" routerLinkActive="active">
						{{contact.full_name}}
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="botton_right">
		<button mat-fab [matMenuTriggerFor]="menu" color="primary">
	  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon class="fa fa-file"></mat-icon>
				<span>Új feladat</span>
			</button>
			<button mat-menu-item (click)="createNewProject()">
				<mat-icon class="fa fa-folder"></mat-icon>
				<span>Új projekt</span>
			</button>
			<button mat-menu-item (click)="createNewContact()">
				<mat-icon class="fa fa-user-plus"></mat-icon>
				<span>Új felhasználó</span>
			</button>
			<button mat-menu-item (click)="navigateToEdit()">
				<mat-icon class="fa fa-pencil"></mat-icon>
				<span>Szerkesztés</span>
			</button>
			<button mat-menu-item (click)="clickOnDeleteProductButton(company)">
				<mat-icon class="fa fa-trash"></mat-icon>
				<span>Törlés</span>
			</button>
		</mat-menu>
	</div>
</form>
<div id="back">
	<button mat-raised-button color="primary" (click)="goBack()">Vissza</button>
</div>