
	
		<mat-spinner *ngIf="companiesDataHandler.isLoading"></mat-spinner>

<form class="panel panel-default" *ngIf="!companiesDataHandler.isLoading">
	<div class="panel-heading" color="primary">Cégek listája</div>
	<div  class="panel-body" *ngIf="companiesDataHandler.companies">
		<section >
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Cég</th>
						<th>Telefon</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody class="clickable-tbody" *ngFor="let company of companiesDataHandler.companies" (click)="gotoDetail(company)">
					<tr>
						<td rowspan="2" (click)="$event.stopPropagation();">
							  <mat-checkbox color="primary" value={{company.id}} (change)="showChbox();company.selected= !company.selected"></mat-checkbox>
							  <!--<input type="checkbox" value={{company.id}} (change)="showChbox()">-->
						</td>
						<td rowspan="2" *ngIf="company.logo!=''">
							<span class="fa-stack fa-2x" (click)="$event.stopPropagation();">
							  <i class="fa fa-circle fa-stack-2x icon-background2"></i>
							  <i class="fa fa-stack-1x"><img src={{company.logo}} class="logo" alt="logo"></i>
							</span>
							<!--<button (click)="$event.stopPropagation();" class="iconbutton" mat-fab color="primary">
								<img src={{company.logo}} class="logo" alt="logo">
							</button>-->
						</td>
						<td rowspan="2" *ngIf="company.logo==''">
							<span class="fa-stack fa-2x" (click)="$event.stopPropagation();">
							  <i class="fa fa-circle fa-stack-2x icon-background2"></i>
							  <i class="fa fa-stack-1x"><span class="icon_letter">{{company.name.slice(0,1)}}</span></i>
							</span>
							<!--<button (click)="$event.stopPropagation();" class="iconbutton" mat-fab color="primary">
								{{company.name.slice(0,1)}}
							</button>-->
						</td>
						<td>
							<strong class="company_name">{{company.name}}</strong>
						</td>
						<td rowspan="2">{{company.phone}}</td>
						<td rowspan="2">{{company.email}}</td>
					</tr>
					<tr>
						<td class="collapsed">
							<span class="company_headquarter">
								{{company.country_code}}<span *ngIf="company.country_code && company.hq_zipcode">-</span>{{company.hq_zipcode}} 
								{{company.hq_settlement}}<span *ngIf="company.hq_settlement && company.hq_address">, </span>
								{{company.hq_address}}
							</span>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"  class="newitem_btn">
							<button  type="button" mat-raised-button color="primary" tabindex="0" (click)="gotoNew()">
								<i class="fa fa-plus"></i> Új cég hozzáadása
							</button>
						</td>
						<td class="instant_item">	
							<div class="instant_input">
							<mat-form-field>
							    <input #companyName matInput name="companyName" placeholder="Új cég hozzáadása instant">
						  	</mat-form-field>
						  	<button #addInstantButton type="submit"  mat-raised-button color="primary" tabindex="-1" (click)="addInstant(companyName.value); companyName.value='';">
								<i class="fa fa-plus"></i>
							</button>
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</section>
	</div>
	<div  class="panel-body" *ngIf="!companiesDataHandler.companies">
		<div class="nodata_alert">
			<h1>Nincs megadva egyetlen cég sem</h1>
			<p>A munka megkezdése előtt ajánlott felvinned legalább egy céget, amihez a rendszer társítani tudja majd a feladatokat, névjegyeket és a többi információt.<br>
			Nem kötelező, de ajánlott.</p>
			<button mat-raised-button color="primary" (click)="gotoNew()">
				<i class="fa fa-plus"></i> Új cég hozzáadása
			</button>
		</div>
	</div>
</form>
<div *ngIf=checked class="botton_right">
	<button mat-fab [matMenuTriggerFor]="menu" color="primary">
  		<mat-icon class="fa fa-bolt fa-lg" aria-hidden="true"></mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon class="fa fa-file"></mat-icon>
			<span>Új feladat</span>
		</button>
		<button mat-menu-item (click)="createNewProject()">
			<mat-icon class="fa fa-folder"></mat-icon>
			<span>Új projekt</span>
		</button>
		<button mat-menu-item (click)="createNewContact()">
			<mat-icon class="fa fa-user-plus"></mat-icon>
			<span>Új felhasználó</span>
		</button>
		<button mat-menu-item [disabled]="disabled" (click)="gotoEdit()">
			<mat-icon class="fa fa-pencil"></mat-icon>
			<span>Szerkesztés</span>
		</button>
		<button mat-menu-item (click)="clickOnDeleteProductButton(companiesDataHandler.companies)">
			<mat-icon class="fa fa-trash"></mat-icon>
			<span>Törlés</span>
		</button>
	</mat-menu>
</div>