/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.panel{
	margin: 2% 22%;
}

.panel-heading{
  background:  #f5f5f5;
}

.panel-body{
	margin: auto;
	width: 75%;
}


.inputpanel{
	margin-bottom: 20px;
}

.inputfield	{
	margin-bottom: 15px;
}

.btn_primary{
	float: right;
	padding: 5px;
}

.matffield{
  width: 100%;
}