/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap-theme.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css';
@import '~bootstrap-timepicker/css/bootstrap-timepicker.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
	font-family: 'Roboto', sans-serif;
}


.inputpanel{
	margin-bottom: 20px;
}

.inputfield	{
	margin-bottom: 15px;
}

.btn_primary{
	float: right;
	padding: 5px;
}

.matffield{
  width: 100%;
}

.botton_right{
	top: auto;
	right: 30px;
	bottom: 20px;
	left: auto;
	position: fixed;
}



.table > tbody > tr > td {
     vertical-align: middle;
}
td.collapsed{
	border: none;
	padding-top: 0px;
}

th{
	font-size: 20px;
}

.logo{
	height: 25px;
	width: 25px;

}

.company_name{
	font-size: 16px;
}

.company_headquarter{
	font-size: 12px;
}


.iconbutton{
	cursor: default;
}

.clickable-tbody{
	cursor: pointer;
}

td.newcompany_btn{
	padding-top: 50px;
}

.nodata_alert{
	text-align: center;
}

.nodata_alert p{
	padding: 30px 0 100px 0;
	font-size: 20px;
}

.icon_letter{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 0.8em;
	/*margin: 0 0 20px 0;*/
}

#maindiv{
	height: 90%;
	overflow: auto;
}